# Firebase Web App (NEXT_PUBLIC = 클라이언트에 노출됨, OK)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD7TXw11YVAO6st3qbm1-GLthYyVTkMXoQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gukminchagimpo.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gukminchagimpo
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gukminchagimpo.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=868374020655
NEXT_PUBLIC_FIREBASE_APP_ID=1:868374020655:web:01cbab749c4f612d543cda
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-E5P0SEW6G0
